body {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--light-gray);
}

.container {
	width: 1000px;
	height: 600px;
	background-color: var(--white);
	border-radius: var(--border-radius);
}

.login {
	display: flex;
	height: 100%;

	&__left,
	&__right {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__right {
		background-color: var(--orange);
		gap: 60px;

		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}

	&__form {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}

	&__input {
		display: flex;
		flex-direction: column;
	}

	&__header {
		width: 370px;
		height: 75px;
		font-size: 36px;
		font-weight: var(--bold-font-weight);
		text-transform: uppercase;
		color: var(--white);
		text-align: center;
	}

	&__text {
		width: 300px;
		height: 120px;
		font-size: 24px;
		font-weight: var(--bold-font-medium);
		color: var(--white);
		text-align: center;
	}
}

.label {
	color: var(--dark-gray);
	font-size: 24px;
	font-weight: var(--font-weight-bold);
}

.input {
	width: 350px;
	height: 40px;

	color: var(--dark-gray);
	font-size: var(--default-font);
	font-weight: var(--font-weight-regular);

	background-color: var(--light-gray);
	border: none;

	border-radius: var(--border-radius);

	padding: 10px;
}

.forgot-password {
	font-size: var(--default-font);
	font-weight: var(--font-weight-medium);
	color: var(--dark-gray);
	border: none;
	background-color: transparent;
	cursor: pointer;

	transition: opacity 0.3s ease;

	&:hover {
		opacity: var(--pointer-opacity);
	}
}
